.church {
  margin-bottom: 10px;

  h4 {
    margin-bottom: 5px;
  }
}

.church-image {
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 0 -15px 10px -15px;
}

.church:first-child .church-image {
  margin-left: 0;
}

.church-location {
  @extend .well;
  padding: 0;

  width: 64px;
  height: 64px;
  font-size: 47px;
  text-align: center;
  background-image: image-url("roadmap.svg");

  .glyphicon:before {
    display: inline-block;
    margin-top: 7px;
  }
}
