.event-panel {
  h3:first-child {
    margin-top: 5px;
  }

  .content {
    display: flex;
    align-items: flex-start;
  }

  .content > .image {
    flex: 1;
    width: 100%;
    max-width: 350px;
  }

  .content > .text {
    flex: 1;
    padding: 10px 20px;
  }
}

@media (max-width: $screen-sm) {
  .event-panel {
    .content {
      flex-flow: column;
    }

    .content > .image {
      max-width: none;
    }

    .content > .text {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }
}
