.events-list {
  margin-left: -15px;
  margin-right: -15px;

  .event {
    padding: 15px;
  }

  .event > .panel {
    margin-bottom: 0;
    height: 100%;
  }
}

@media (max-width: $screen-sm) {
  .events-list {
    margin: 0;

    .event {
      padding: 0;
      margin-bottom: 15px;
    }

    .event > .panel {
      height: auto;
    }
  }
}
