.homepage-links {
  a {
    display: block;
    margin-bottom: 30px;
    color: $text-color;
    text-decoration: none;
  }

  h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    color: $brand-primary;
  }
}
