.homepage-vertical-banner {
  img {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 45%;
    object-fit: cover;
    object-position: bottom;
    z-index: -1;
  }

  @media screen and (max-width: $screen-md) {
    img {
      width: 50%;
    }
  }

  @media screen and (max-width: $screen-xs) {
    img {
      position: static;
      height: 50vh;
      width: 100vw;
      margin-left: -15px;
      margin-right: -15px;
      max-width: none;
    }
  }
}
