.messages .alert {
  margin-top: 20px;
  margin-bottom: 0;

  pre {
    background: transparent;
    border: none;
    color: inherit;

    code {
      font-size: 90%;
    }
  }
}

.site-announcement {
  padding: 3px 0;
  background-color: $brand-info;
  color: white;
  text-align: center;
}
