// Journal 2.2.2
// Bootswatch
// -----------------------------------------------------

@import 'partials/variables';
@import 'twitter/bootstrap/mixins';

// TYPOGRAPHY
// -----------------------------------------------------

body {
  padding: 72px 0;
}

h1, h2, h3, h4, h5, h6 {

  margin: 0 0 10px;
  line-height: 1.2;

  a {
    color: $headingsColor;
  }
}

h5, h6 {
  margin-bottom: 0;
}

h1 { font-size: 48px; }

h2 { font-size: 36px; }

h3 { font-size: 28px; }

h4 { font-size: 20px; }

h5 { font-size: 13px; }

a {
  cursor: pointer;
}

p > a,
ol > li > a,
address > a,
.breadcrumb a,
abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted;

  &:hover {
    text-decoration: none;
    border-bottom: 1px solid;
  }
}

code, pre {
  @include border-radius(0);
  background-color: $grayLighter;
  @include box-shadow(none);
}

// SCAFFOLDING
// -----------------------------------------------------

.page-header {
  border-bottom: 2px solid $grayLighter;
}

hr {
  border-bottom: 1px solid $grayLighter;
}

// NAVBAR
// -----------------------------------------------------

.navbar {

  font-family: $sansFontFamily;
  font-weight: $headingsFontWeight;

  p {
    font-family: $baseFontFamily;
    font-weight: normal;
    padding: 20px 0;
    margin: 0;
  }

  .btn-navbar {
    padding: 2px 7px;
    color: black;
    font-size: 30px;
    opacity: .5;
    @include transition(opacity .2s ease-in);

    text-shadow: none;
    @include box-shadow(none);
    background: none;
    border: none;

    &:hover {
      color: black;
      background: none;
      opacity: 1;
    }
  }

  .navbar-inner {
    border-bottom: 2px solid $navbarBorder;
    @include border-radius(0);
    @include box-shadow(none);
  }

  .brand {
    padding: 19px 20px 21px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: none;
    text-transform: uppercase;
  }

  .nav > li > a {
    padding: 20px 10px 20px;
    font-size: 18px;
    text-shadow: none;
    text-transform: uppercase;

    .badge {
      margin-bottom: 4px;
      margin-left: 4px;
    }
  }

  .nav > .active > a {
    background-color: transparent;
  }

  .navbar-text {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 20px;
  }

  .nav > .active > a,
  .nav > .active > a:hover,
  .nav > .active > a:focus {
    @include box-shadow(none);
  }

  .divider-vertical {
    border-left-color: transparent;
    border-right-color: transparent;
  }

  .dropdown-menu {
    max-width: 200px;

    top: 85%;
    @include border-radius(0);

    a {
      font-size: 15px;
      font-weight: bold;
    }
  }

  .navbar-search .search-query,
  .navbar-search .search-query:hover {
    border: 2px solid $grayLighter;
    color: $textColor;
    @include placeholder($gray);
  }
}

@media (max-width: $navbarCollapseWidth) {

  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    margin-bottom: 0;
    border-top: 2px solid $grayLighter;
    border-bottom: 2px solid $grayLighter;
  }



  .navbar .nav-collapse {

    .nav li > a {
      color: $navbarLinkColor;

      &:hover {
        background-color: $dropdownLinkBackgroundHover;
      }
    }

    .navbar-text {
      margin-top: 0;
    }
  }

  .navbar-inverse .nav-collapse {

    .nav li > a {
      color: $navbarInverseLinkColor;

      &:hover {
        background-color: #111;
        background-image: none;
      }
    }

  }
}

div.subnav {

  height: 54px;
  background-color: $bodyBackground;
  background-image: none;
  @include box-shadow(none);
  border: 2px solid $grayLighter;
  border-left: none;
  border-right: none;
  @include border-radius(0);

  &.subnav-fixed {
    top: $navbarHeight;
  }

  .nav > li > a,
  .nav > li:first-child > a,
  .nav > li.active > a {
    padding: 20px 15px;
    border-left: none;
    border-right: none;
    background-color: transparent;
    @include box-shadow(none);
    font-family: $sansFontFamily;
    color: $headingsColor;
    font-size: 15px;
    font-weight: bold;

    &:hover {
      padding: 20px 15px;
      background-color: transparent;
      @include box-shadow(none);
      color: $headingsColor;
    }
  }

  li.dropdown > .dropdown-toggle .caret ,
  li.dropdown > .dropdown-toggle:hover .caret,
  li.dropdown.open > .dropdown-toggle .caret {
    border-top-color: $headingsColor;
    border-bottom-color: $headingsColor;
    opacity: 1;
  }

  li.dropdown.open .dropdown-toggle,
  li.dropdown.open .dropdown-toggle:hover {
    background-color: $bodyBackground;
    color: $headingsColor;
  }
}

// NAV
// -----------------------------------------------------

// BUTTONS
// -----------------------------------------------------

[class^="icon-"], [class*=" icon-"] {
  vertical-align: baseline;
}

.btn {
  font-family: $baseFontFamily;
  font-weight: normal;
  cursor: pointer;
}

.btn-inverse {
  @include buttonBackground($grayDarker, $black);
}

// LISTS
// -----------------------------------------------------

dl.list-horizontal {
  dt {
    display: block;
    float: left;
    width: 60px;
    margin-bottom: 5px;
  }
  dd {
    display: block;
    margin-bottom: 5px;
    margin-left: 80px;
  }
}

// TABLES
// -----------------------------------------------------

.table-bordered {
  @include border-radius(0);
  @include box-shadow(none);
}

// FORMS
// -----------------------------------------------------

legend {
  border-bottom: 2px solid $grayLighter;
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  color: $headingsColor;
}

img.image-preview {
  @extend .well;
}

// DROPDOWNS
// -----------------------------------------------------

// MISC
// -----------------------------------------------------

.well {
  @include border-radius(0);
  @include box-shadow(none);
}

.hero-unit {
  padding: 30px 60px;
  border: 1px solid rgba(0,0,0,.05);
  @include border-radius(0);
  @include box-shadow(none);

  h1 {
    margin: 0 0 10px;
    line-height: 1.2;
  }
}

// a.thumbnail:hover {
// 	.box-shadow(0 1px 3px 1px rgba(0, 0, 0, 0.3));
// 	border-color: #ddd;
// }

.modal {
  @include border-radius(0px);
  background: $bodyBackground;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
  background: transparent;
  @include box-shadow(none);
}

.close,
.close:hover {
  border-bottom: none;
}

// MEDIA QUERIES
// -----------------------------------------------------

@media (max-width: 768px) {

  div.subnav {

    height: auto;

    .nav > li.active > a {
      border-top: none;
    }

    .nav > li:hover > a,
    .nav > li:first-child:hover > a,
    .nav > li.active:hover > a,
    .nav > li.dropdown.open .dropdown-toggle,
    .nav > li.dropdown.open .dropdown-toggle:hover {
      background-color: $dropdownLinkBackgroundHover;
    }
  }

  .nav-tabs .open .dropdown-toggle,
  .nav-pills .open .dropdown-toggle,
  .nav > li.dropdown.open.active > a:hover {
    border-color: #e5e5e5;
  }
}

// ERROR MESSAGES
// -----------------------------------------------------

#error_explanation {
  @extend .alert;
  @extend .alert-error;

  h2 {
    font-size: $baseFontSize;
  }
}

// CHURCH DISPLAY
// ------------------------------------------------------

.church-image {
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 0 -15px 10px -15px;
}

.church-location {
  @extend .well;
  padding: 0;

  width: 64px;
  height: 64px;
  font-size: 47px;
  text-align: center;
  background-image: image-url("roadmap.svg");

  i:before {
    padding-top: 8px;
    color: $gray;
  }
}

// HOMEPAGE
// -------------------------------------------------------

.title-box {
  margin: 20px 0;
}

#title-zone {
  float: left;
}

.headings {
  h1 {
    float: left;
  }

  h2 {
    display: inline-block;
    min-height: 52px;
    padding-top: 19px;
    padding-left: 10px;
  }
}

.church-type {
  margin-top: -13px;

  span {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    min-height: 16px;
    margin-bottom: 0;
    @extend .well;
    @extend .well-small;
  }
}

#leader-box {
  @extend .well;
  @extend .well-small;
  margin-top: 10px;
  float: right;

  a.pull-right {
    margin-left: 20px;
  }

  .pull-right {
    margin-left: 0;
  }

  h4 {
    margin-bottom: 5px;
  }
}

table.fill {
  width: 100%;
}

td.fill {
  width: 50%;
}

td.user-controls {
  width: 50%;
  text-align: right;
}

table.sermons {
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid $grayLight;

  &.compact {
    width: 530px;
  }

  td {
    border-top: 1px solid $grayLight;
    padding: 20px 0;
  }

  td.description {
    width: 100%;
  }

  td.player {
    min-width: 350px;
  }

  td.controls {
    min-width: 150px;
    text-align: right;
  }

  td.read .btn {
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    padding: 0 10px 6px 10px;
    text-align: center;
    min-width: 60px;

    i {
      font-size: 18px;
      line-height: 38px;
    }
  }

  td.download .btn {
    height: 36px;
    font-size: 18px;
    line-height: 38px;
    padding: 0 10px;
    margin-left: 10px;
  }
}

table.photos {
  margin-top: 10px;

  td {
    vertical-align: top;
    padding-top: 10px;
  }

  .well {
    margin-right: 10px;
    margin-top: -10px;

    width: 100px;

    img {
      width: 100px;
      height: 100px;
    }
  }
}

.thumbs a {
  @extend .well;
  @extend .well-small;

  display: inline-block;
  width: 200px;
  margin: 10px;

  background-repeat: no-repeat;
  background-position: center;

  img {
    display: inline-block;
  }
  
  p {
    margin: 10px 0 0 0;
  }
}

.cke.cke_chrome {
  margin-bottom: 10px;
}

.popover {
  width: auto;
  @include border-radius(0);
}

// NEWS

#news table {
  td {
    vertical-align: top;
  }
  
  td.title {
    //font-weight: bold;
    text-align: right;
    border-right: 3px solid $grayLight;
    padding: 5px 5px 5px 10px;
  }
  
  td.time {
    font-style: italic;
    padding: 5px 0 5px 5px;
  }

  td.news-item {
    padding: 5px 10px 5px 0;
    
    p {
      margin: 0;
    }
  }

  tr.highlight td {
    background: $grayLighter;
  }

  tr.highlight td.title {
    border-right-color: $gray;
  }
}

// PHOTOS

.gallery {
  display: inline-block;
  margin-right: 10px;

  img {
    display: block;
    padding-bottom: 5px;
  }

  .user-controls {
    text-align: right;
  }
}

// RESPONSIVE STYLES
// --------------------------------------------------------

@media(max-width: 979px) {
  #title-zone {
    float: none;
  }

  #leader-box {
    float: none;

    .pull-left, .pull-right {
      margin-bottom: 0;
    }

    a.pull-right {
      float: right; // Because Bootstrap clears the float on small screens
    }

    i.pull-right {
      display: inline;
      margin-right: -0.4em;
      margin-left: 0.2em;
    }
  }
}

@media(max-width: 767px) {
  body {
    padding: 0;
  }

  // Probably won't work for any other popovers - should probably add a separate class
  .popover {
    position: relative;
    border: none;
    background: none;
    @include box-shadow(none);

    // Override whatever position it should be in on larger screens
    top: 0 !important;
    left: 0 !important;

    .arrow {
      display: none;
    }
  }

  .church-image {
    margin-left: 0;
    margin-right: 0;
    height: 250px;
  }

  .navbar p {
    margin-left: 20px;
    margin-right: 20px;
  }
}

// Play nice with IE10 snap
@-ms-viewport{
    width: device-width;
}

// MISC

ul.no-decoration {
  margin-left: 0;
  list-style-type: none;

  li.well-small {
    margin-bottom: 10px;
  }
}
