//@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Lora:400,700,400italic,700italic');
@import url(/fonts/stylesheet.css);

$font-family-sans-serif: "Source Sans Pro", sans-serif;
$font-family-serif: "Lora", serif;
$font-family-base: $font-family-serif;
