@import url("//fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700,400italic,700italic");

$brand-primary: #d01437;

$font-size-base: 16px;

$font-family-sans-serif: "Lato", sans-serif;
$font-family-serif: "Open Sans", serif;
$font-family-base: $font-family-serif;

$text-color: #555;
$headings-color: black;

$headings-font-weight: 700;

$padding-base-vertical: 4px;
$padding-base-horizontal: 12px;

$padding-small-vertical: 3px;
$padding-small-horizontal: 10px;

$btn-default-bg: #555;
$btn-default-border: $btn-default-bg;
$btn-primary-bg: darken($brand-primary, 5%);
$btn-primary-border: $btn-primary-bg;

$navbar-inverse-bg: darken($brand-primary, 10%);
$navbar-inverse-border: transparent;
$navbar-inverse-link-hover-bg: $brand-primary;
$navbar-inverse-link-active-bg: white;
$navbar-inverse-link-active-color: black;
