.gallery {
  display: flex;
  flex-flow: row wrap;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0;

  .item {
    width: 20%;
    padding: 10px;
    list-style: none;

    a {
      background-repeat: no-repeat;
      background-position: center;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.15);
    }

    p {
      margin: 10px 0 0 0;
    }

    .reorder {
      cursor: move;
    }
  }

  .control-buttons {
    margin-top: 5px;
    text-align: right;
  }
}

@media (max-width: $screen-md) {
  .gallery {
    .item {
      width: 25%;
    }
  }
}

@media (max-width: $screen-sm) {
  .gallery {
    .item {
      width: 50%;
    }
  }
}
